html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: white;
  background-image: url("../images/background.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: 0px 96px; */
  /* opacity:0.95; */
}

/* * {
  box-sizing: border-box
} */

h1 {
  font-weight: bold;
  font-size: 5rem;
}
h2 {
  font-weight: bold;
  font-size: 4rem;
}
h3 {
  font-weight: bold;
  font-size: 3rem;
}
h4 {
  font-weight: bold;
  font-size: 2rem;
}
h5 {
  font-weight: bold;
  font-size: 1.5rem;
}
h6 {
  font-weight: bold;
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 8px 0;
}

p {}
div {}
span {}

button {

}

button:hover {

}

form {}

a {}
a:hover {}



/* Full-width input fields */
/* input[type=text],
input[type=password],
input[type=tel] {
  width: 100%;
  padding: 12px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus {
  background-color: #DDDDDD;
  outline: none;
} */

hr {
  /* border: 1px solid #F1F1F1; */
  border: 1px solid red;
  margin-bottom: 24px;
}
