:root {
  --primary-font: sans-serif;
  --primary-color: #ED1C24;
  --green-color: #0FCE00;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}
h2 {
  font-weight: bold;
  font-size: 4rem;
}
h3 {
  font-weight: bold;
  font-size: 3rem;
}
h4 {
  font-weight: bold;
  font-size: 2rem;
}
h5 {
  font-weight: bold;
  font-size: 1.5rem;
}
h6 {
  font-weight: bold;
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
}

p {}
div {}
span {}

button {}

button:hover {}

form {}

a {}
a:hover {}

hr {
  /* border: 1px solid #F1F1F1; */
  border: 1px solid var(--primary-color);
  margin-bottom: 24px;
}

*:focus {
  /* outline: solid; */
  /* outline-width: 2px; */
  /* outline: thin;
  outline-style: dashed;
  outline-color: red; */
  /* outline-color: red; */
  /* outline-width: thin; */
}
