/* -------------------------foodaurant Main Page------------------------------*/

.foodMain {
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
}

.foodList {
  padding: 10px;
  position: relative;
}

.foodBox {
  height: 180px;
  background-color: pink;
  margin-top: 10px;
}

.foodPic {
  width: 80px;
  height: 80px;
  padding: 5px;
  float: left;
}

.foodInfo {
  padding: 10px;
}

.foodDetail {
  margin-left: 90px;
  position: relative;
  align-items: center;
  height: 80px;
}

.foodName {
  font-size: 18px;
}

.foodPrice {
  font-size: 16px;
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}

.foodPrepareTime {
  font-size: 16px;
  padding-right: 20px;
  padding-top: 5px;
  float: left;
}

.foodRate {
  font-size: 16px;
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}


.foodDescription {
  position: relative;
  padding-top: 5px;
  font-size: 14px;
}

.addButton {
    float: right;
    width: 50px;
    margin: 0 10px 10px 10px;
  }

@media screen and (min-width: 1024px){
  .foodMain{
    margin: 10px 300px 10px 200px;
  }

  .foodDetail {
    height: 40px;
    margin-left: 130px;
  }

  .foodDescription {
    margin-left: 130px;
  }

  .foodBox {
    height: 140px;
  }

  .foodPic {
    width: 120px;
    height: 120px;
    padding: 5px;
    float: left;
  }

  .addButton {
    float: right;
    width: 50px;
    margin: 0 10px 10px 10px;
  }
}

body{
  background-image: none;
}