/* -------------------------Restaurant Main Page------------------------------*/

.restMain {
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
}

.restList {
  padding: 10px;
  position: relative;
}

.restBox {
  height: 160px;
  background-color: pink;
  margin-top: 10px;
}

.restPic {
  width: 80px;
  height: 80px;
  padding: 5px;
  float: left;
}

.restInfo {
  padding: 10px;
}

.restDetail {
  margin-left: 90px;
  position: relative;
  align-items: center;
  height: 80px;
}

.restName {
  font-size: 18px;
}

.restPriceRange {
  font-size: 16px;
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}

.restPrepareTime {
  font-size: 16px;
  padding-right: 20px;
  padding-top: 5px;
  float: left;
}

.restRate {
  font-size: 16px;
  float: left;
  padding-right: 20px;
  padding-top: 5px;
}

.restOperate {
  font-size: 16px;
  float: left;
  padding-right: 5px;
}

.restDescription {
  position: relative;
  padding-top: 5px;
  font-size: 14px;
}

@media screen and (min-width: 1024px){
  .restMain{
    margin: 10px 300px 10px 200px;
  }

  .restDetail {
    height: 40px;
    margin-left: 130px;
  }

  .restDescription {
    margin-left: 130px;
  }

  .restBox {
    height: 140px;
  }

  .restPic {
    width: 120px;
    height: 120px;
    padding: 5px;
    float: left;
  }
}

body{
  background-image: none;
}