/* Index */
/* 1) DEFAULT Header & Footer */
/* 2) Common Module / Element */
/* 3) Page Specific Module/ Element */

/* --------------- DEFAULT Header & Footer ------------------*/
.wrapper {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  color: white;
  background-color: black;
  text-align: center;
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header > * + * {
  margin-top: 8px;
}

.header-navigation {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-navigation > *:last-child {
  margin-left: auto;
}

.header-username-text {
  width: 148px;
  max-height: 48px;
  text-align: right;
  overflow: hidden;
  display: none;
}

@media screen and (min-width: 480px) {
  .header-username-text {
    display: block;
  }
}

@media screen and (min-width: 640px) {
  .header-username-text {
    display: none;
  }
  .header-navigation > *:last-child {
    margin-left: auto;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header > * + * {
    margin-top: 0;
    margin-left: 8px;
  }
}

@media screen and (min-width: 793px) {
  .header-username-text {
    display: block;
  }
}

.welcome-header {
  padding: 8px;
  /* position: sticky;
  top: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  z-index: 100; /* guarantees that the header is always on top of the main content */
}

.welcome-logo-icon {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  display: none;
}
@media screen and (min-width: 388px) {
  .welcome-logo-icon {
    display: block;
  }
}
@media screen and (min-width: 400px) {
  .welcome-logo-icon,
  .welcome-logo {
    margin-right: auto;
  }
}
@media screen and (min-width: 576px) {
  .welcome-logo-icon {
    height: 64px;
    width: 64px;
  }
  .welcome-logo {
    height: 48px;
  }
}
@media screen and (min-width: 752px) {
  .welcome-logo-icon {
    height: 80px;
    width: 80px;
  }
  .welcome-logo {
    height: 64px;
  }
}

.footer {
  color: white;
  background-color: black;
  padding: 8px;
  position: relative;
  z-index: 98;
}

.footer-logo {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  display: none;
}

@media screen and (min-width: 388px) {
  .footer-logo {
    display: block;
  }
}

.footer-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* box-sizing: border-box; */
  width: 100%;
}

.footer-main > * {
  border-left: 3px solid var(--primary-color);
  padding: 0 8px;
  /* min-width: 50%; */
  box-sizing: border-box;
  min-height: 150px;
}

/* .footer-main > *:first-child {
  width: 100%;
} */

@media screen and (min-width: 774px) {
  .footer-main {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1071px) {
  .footer-main {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1078px) {
  /* .footer-main > * {
    min-width: 0;
  }
  .footer-main > *:first-child {
    width: auto;
  } */
}
/* --------------- END DEFAULT Header & Footer ------------------*/

/* -------------------------------------------------------------- 2) Common Module ----------------------------------------------------------------- */
.navigation-horizontal, .navigation-vertical {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-horizontal {
  display: flex;
  /* justify-content: space-around; */
}

.container, .welcome-container,
.container-borderless {
  padding: 29px;
  border: solid 3px black;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.welcome-container {
  background-color: white;
  opacity: 0.9;
}

.container-borderless {
    padding: 32px;
    border: none;
}

.container-footer,
.container-footer-right {
  margin-top: 16px;
}
.container-footer-right {
  display: flex;
  justify-content: flex-end;
}

.welcome-container-footer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-container-footer > * + * {
  margin-top: 16px;
}
@media screen and (min-width: 568px) {
  .welcome-container-footer {
    flex-direction: row;
    justify-content: space-around;
  }
  .welcome-container-footer > * + * {
    margin-top: 0;
  }
}

.profile-picture {
  border-radius: 50%;
  width: 256px;
  height: 256px;
  /* background-color: black; */
}

.profile-picture-sm {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-image: none; */
  background-color: white;
}

:root {
  --card-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  --card-shadow-float: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: var(--card-shadow);
}

.card:hover {
  transform: translateY(-4px);
  transition: transform 250ms ease-in-out;
  box-shadow: var(--card-shadow-float);
}

/* .card + .card {
  margin-top: 16px;
} */

/* -------------------- Form & Label & Form-Control & Input -------------------*/
.form-control {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  display: inline-block;
  border: none;
  background: #F1F1F1;
}

.form-group + .form-group {
  margin-top: 16px;
}
.label {
  font-weight: bold;
  font-size: 1.3rem;
}
.label + .form-control {
  margin-top: 12px;
}
.form-control:focus {
  background-color: #DDDDDD;
  outline: none;
}

/* -------------------- END Form & Label & Form-Control & Input -------------------*/

/* ----------------------------- Link --------------------------------------- */
.link-no-decor {
  text-decoration: none;
  color: inherit;
}

/* -------------------------------- END Link -------------------------------- */

/* -------------------- Button -----------------*/
.btn, .nav-btn, .link-btn,
.round-icon-btn, .sm-round-icon-btn, .square-icon-btn,
.btn-rect, .btn-green, .btn-welcome,
.btn-order-delete {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  /* letter-spacing: 0.05rem; */
  cursor: pointer;
  opacity: 0.9;
  border-radius: 32px;
  font-size: 1rem;
  font-family: var(--primary-font);
  text-align: center;
  /* display: inline-block; */
  box-sizing: border-box;
  min-width: 120px;
}

.btn:hover, .nav-btn:hover, .link-btn:hover,
.round-icon-btn:hover, .sm-round-icon-btn:hover, .square-icon-btn:hover,
.btn-rect:hover, .btn-green:hover, .btn-welcome:hover,
.btn-order-delete:hover {
  opacity: 1.0;
}

.btn-welcome {
  font-family: sans-serif;
  font-size: 1.75rem;
  padding: 16px;
  width: 244px;
}

.btn-rect {
  min-width: auto;
  border-radius: 0;
}

.nav-btn {
  background-color: transparent;
}
.nav-btn:hover {
  color: var(--primary-color);
}

.round-icon-btn, .sm-round-icon-btn {
  border-radius: 50%;
  min-width: auto;
}

.round-icon-btn {
  height: 48px;
  width: 48px;
}

.sm-round-icon-btn {
  height: 24px;
  width: 24px;
}

.square-icon-btn {
  border-radius: 0;
  height: 48px;
  width: 48px;
  min-width: auto;
}

.link-btn {
  text-decoration: none;
}

.btn-green {
  background-color: var(--green-color);
}

/* -------------------- END Button -----------------*/

/* ----------------------- Text & Paragraph -----------------------*/
.text-center {
  text-align: center;
}
.text-itallic {
  font-style: italic;
}
.paragraph {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}

.welcome-header-text {
  text-align: center;
  font-family: cursive;
}
.paragraph-welcome {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
@media screen and (min-width: 704px) {
  .welcome-header-text {
    font-size: 2.5rem;
  }
  .paragraph-welcome {
    font-size: 1.35rem;
    line-height: 1.35rem;
  }
}
@media screen and (min-width: 832px) {
  .welcome-header-text {
    font-size: 3rem;
  }
  .paragraph-welcome {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
/* ----------------------- END Text & Paragraph -----------------------*/

/* ------------------------ Dropdown ------------------------------- */
/* Dropdown Button */
/* .dropbtn { */
  /* background-color: #4CAF50; */
  /* color: white; */
  /* padding: 16px; */
  /* font-size: 16px; */
  /* border: none; */
/* } */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: -8px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  /* z-index: 1; */
}

/* Show the dropdown menu on hover */
.dropdown:hover > .dropdown-content {
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  /* color: var(--primary-color); */
  background-color: var(--primary-color);
}
/* ------------------------ END Dropdown ------------------------------- */

/* ----------------------------------------------------------- 3) Page Specific ---------------------------------------------------------------------------------- */

/* ---------------------------- Welcome Page -------------------------------*/
.welcome-box {
  margin: auto;
  max-width: 832px;
}
@media screen and (min-width: 832px) {
  .welcome-box {
    margin: 96px auto;
  }
}
/* ---------------------------- END Welcome Page -------------------------*/

/* ----------------------------- Login Page ----------------------------*/
.login-box  {
  margin: auto;
  max-width: 640px;
}
@media screen and (min-width: 768px) {
  .login-box {
    margin: 96px auto;
  }
}

/* ----------------------------- END Login Page ----------------------------*/

/* -------------------------- Register Page -----------------------*/
.register-box {
  margin: auto;
  max-width: 640px;
}
@media screen and (min-width: 768px) {
  .register-box {
    margin: 96px auto;
  }
}
/* -------------------------- END Register Page -----------------------*/

/* -------------------------- Change Password -----------------------*/
.change-password-box {
  margin: auto;
  max-width: 640px;
}
@media screen and (min-width: 768px) {
  .change-password-box {
    margin: 96px auto;
  }
}
/* -------------------------- END Change Password -----------------------*/

/* ---------------------------- View & Edit Profile ---------------------*/
.user-profile-box {
  margin: auto;
  max-width: 480px;
}
.upload-profile-picture-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 64px;
  width: 64px;
  font-size: 1.75rem;
}
.user-profile-form {
  margin-top: 16px;
}
@media screen and (min-width: 892px) {
  .user-profile-form {
    margin-top: 0;
    margin-left: 32px;
  }
  .user-profile-box {
    max-width: 892px;
    margin: 96px auto;
  }
}
/* --------------------------- END View & Edit Profile -----------------------*/

/* -------------------------------- Sidebar -----------------------*/
:root {
  --sidebar-width: 176px;
}

.sidebar {
  position: fixed;
  color: white;
  overflow-y: auto;
  max-height: calc(100vh - 105px); /* header height at 320 width resolution */
  z-index: 99;
  width: 0;
}

.sidebar-header {
  position: relative;
  right: var(--sidebar-width);
  width: var(--sidebar-width);
  height: 48px;
  background-color: var(--primary-color);
  display: flex;
  /* justify-content: center; */
  padding-left: 48px;
	align-items: center;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
}

.sidebar-btn {
  position: fixed;
  z-index: 99;
}

.sidebar-content {
  position: relative;
  right: var(--sidebar-width);
  background-color: var(--primary-color);
  padding-top: 48px;
}

.sidebar-content a {
  height: 48px;
  width: var(--sidebar-width);
  display: flex;
  justify-content: center;
	align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

.sidebar-content a:hover {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: red;
}

.sidebar:hover {
  width: auto;
}

.sidebar:hover > .sidebar-header {
  position: fixed;
  right: auto;
  z-index: 98;
  left: calc(-1 * var(--sidebar-width));
  transform: translateX(var(--sidebar-width));
  transition: transform 250ms ease-in-out;
}

.sidebar:hover > .sidebar-btn {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
}

.sidebar:hover > .sidebar-content {
  transform: translateX(var(--sidebar-width));
  transition: transform 250ms ease-in-out;
}
/* -------------------------------- END Sidebar -----------------------*/

/* ------------------------- Home & foodxpress.Order Box ------------------------ */
.box-main {
  padding: 48px 16px 0 16px;
  background-color: rgba(255,255,255,0.4);
  min-height: calc(100vh - 105px - 544px);
  box-sizing: border-box;
}
@media screen and (min-width: 546px) {
  .box-main {
    min-height: calc(100vh - 105px - 396px);
  }
}
@media screen and (min-width: 640px) {
  .box-main {
    min-height: calc(100vh - 64px - 396px);
  }
}
@media screen and (min-width: 1054px) {
  .box-main {
    min-height: calc(100vh - 64px - 246px);
  }
}

.box-main-title {
    font-weight: bold;
    font-size: 2rem;
    background-color: moccasin;
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
}

.box-list {
  padding: 16px 0;
}

.box-list-title > * {
  background-color: bisque;
  padding: 8px;
  border-radius: 8px;
}

.box-list-title::before {
  margin-top: -160px;
  padding-top: 160px;
  content: "";
  display: block;
}

.box {
  background-color: cornsilk;
  margin-top: 8px;
  padding: 8px;
  cursor: pointer;
}

.box-picture {
  width: 80px;
  height: 80px;
  float: left;
}

.box-detail {
  margin-left: 88px;
  min-height: 80px;
  font-size: 1rem;
}

.box-title {
  /* font-size: 18px; */
  font-size: 1.2rem;
  word-wrap: break-word;
}

.box-info {
  margin-right: 16px;
  margin-top: 4px;
  display: inline-block;
  font-size: 1rem;
}
.box-info:last-child {
  margin-right: 0;
}

.rating-star {
  margin-right: 4px;
  font-size: 0.75rem;
}

.box-description {
  height: 80px;
  margin-top: 8px;
  /* font-size: 14px; */
  font-size: 0.9rem;
  overflow: hidden;
  text-align: justify;
}
/* ------------------------- END Home & foodxpress.Order Box ------------------------ */

/* --------------- Home Page (Sidebar & Box)------------- */
/* Sidebar */
@media screen and (min-width: 548px) {
  /* 320px + 52px + 176px */
  #js-home-sidebar {
    width: auto;
    z-index: 98;
    background-color: var(--primary-color);
    height: 100%;
    max-height: none;
  }
  #js-home-sidebar > .sidebar-header {
    position: fixed;
    right: auto;
    z-index: 98;
    left: calc(-1 * var(--sidebar-width));
    transform: translateX(var(--sidebar-width));
    transition: transform 250ms ease-in-out;
  }
  #js-home-sidebar > .sidebar-btn {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    cursor: auto;
    opacity: 1.0;
  }
  #js-home-sidebar > .sidebar-content {
    background-color: transparent;
    height: auto;
    transform: translateX(var(--sidebar-width));
    transition: transform 250ms ease-in-out;
  }
  .rest-box.box-main {
    margin-left: var(--sidebar-width);
  }
}

/* Box */
@media screen and (min-width: 548px) {
  .rest-box.box-main {
    padding: 0 24px;
  }
}
@media screen and (min-width: 768px){
  .rest-box .box-content {
    display: flex;
    flex-direction: column;
  }
  .rest-box .box-detail {
    min-height: auto;
    margin-left: 0;
  }
  .rest-box .box {
    min-height: 128px;
  }
  .rest-box .box-picture {
    width: 128px;
    height: 128px;
    margin-right: 8px;
  }
  .rest-box .box-title {
    font-size: 1.5rem;
  }
  .rest-box .box-info {
    font-size: 1.1rem;
  }
  .rest-box .box-description {
    font-size: 1rem;
  }
}
@media screen and (min-width: 548px) {
  .rest-box .box-list-title::before {
    margin-top: -120px;
    padding-top: 120px;
  }
}
@media screen and (min-width: 640px) {
  .rest-box .box-list-title::before {
    margin-top: -80px;
    padding-top: 80px;
  }
}
/* ---------------------- END Home Page ------------------- */

/* ---------------------- foodxpress.Order Page (Sidebar & Box & Cart) ---------------------- */
/* Sidebar */
@media screen and (min-width: 820px) {
  #js-sidebar {
    width: auto;
    z-index: 98;
    background-color: var(--primary-color);
    height: 100%;
    max-height: none;
  }
  #js-sidebar > .sidebar-header {
    position: fixed;
    right: auto;
    z-index: 98;
    left: calc(-1 * var(--sidebar-width));
    transform: translateX(var(--sidebar-width));
    transition: transform 250ms ease-in-out;
  }
  #js-sidebar > .sidebar-btn {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    cursor: auto;
    opacity: 1.0;
  }
  #js-sidebar > .sidebar-content {
    background-color: transparent;
    height: auto;
    transform: translateX(var(--sidebar-width));
    transition: transform 250ms ease-in-out;
  }
  .food-box.box-main {
    margin-left: var(--sidebar-width);
  }
}

/* Box */
@media screen and (min-width: 820px) {
  .food-box.box-main {
    padding: 0 24px;
    position: relative;
    padding-top: 8px;
  }
  .food-box .box-main-title {
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px){
  .food-box .box-main-title {
    font-size: 3rem;
  }
  .food-box .box-content {
    display: flex;
    flex-direction: column;
  }
  .food-box .box-detail {
    min-height: auto;
    margin-left: 0;
  }
  .food-box .box {
    min-height: 128px;
  }
  .food-box .box-picture {
    width: 128px;
    height: 128px;
    margin-right: 8px;
  }
  .food-box .box-title {
    font-size: 1.5rem;
  }
  .food-box .box-info {
    font-size: 1.1rem;
  }
  .food-box .box-description {
    font-size: 1rem;
  }
}
@media screen and (min-width: 640px) {
  .food-box .box-list-title::before {
    margin-top: -120px;
    padding-top: 120px;
  }
}
@media screen and (min-width: 820px) {
  .food-box .box-list-title::before {
    margin-top: -80px;
    padding-top: 80px;
  }
}

/* Cart */
:root {
  --cart-width: 272px;
  --cart-width-negative: -272px;
}

@media screen and (min-width: 1024px) {
  :root {
    --cart-width: 336px;
    --cart-width-negative: -336px;
  }
}

.cart {
	position: fixed;
	right: 0;
  color: white;
  z-index: 99;
  width: 0;
}

.cart-header {
	position: relative;
	right: var(--cart-width-negative);
  width: var(--cart-width);
  height: 48px;
	background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.cart-btn {
	position: fixed;
	right: 0;
	z-index: 99;
}

.cart-content{
  overflow-y: auto;
  max-height: calc(100vh - 105px - 48px);
  border: 2px solid var(--primary-color);
  border-top: none;
  box-sizing: border-box;
  position: relative;
  right: var(--cart-width-negative);
  background-color: white;
  color: black;
}

.cart:hover {
  width: auto;
}

.cart:hover > .cart-header {
	transform: translateX(var(--cart-width-negative));
  transition: transform 250ms ease-in-out;
}

.cart:hover > .cart-content {
	/*padding: 0 8px;*/
	/*padding-bottom: 8px;*/
    padding: 0 8px 8px 8px;
	width: var(--cart-width);
	transform: translateX(var(--cart-width-negative));
  transition: transform 250ms ease-in-out;
}

@media screen and (min-width: 640px) {
	.cart:hover > .cart-content {
		max-height: calc(100vh - 64px - 48px);
	}
}

@media screen and (min-width: 644px) {
  /* 320px + 52px + 272px */
  .cart {
    width: auto;
    z-index: 98;
  }
	.cart-header {
		transform: translateX(var(--cart-width-negative));
    transition: transform 250ms ease-in-out;
	}
  .cart-btn {
    cursor: auto;
    opacity: 1.0;
  }
  .cart-content {
    height: calc(100vh - 64px - 48px);
    max-height: none;
    /*padding: 0 8px;*/
    /*padding-bottom: 8px;*/
    padding: 0 8px 8px 8px;
    position: fixed;
    width: var(--cart-width);
    transform: translateX(var(--cart-width-negative));
    transition: transform 250ms ease-in-out;
  }
  .food-box.box-main {
    margin-right: var(--cart-width);
  }
}

.cart-order-table {
  font-size: 0.8rem;
  border-collapse: separate;
}
@media screen and (min-width: 768px) {
  .cart-order-table {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1024px) {
  .cart-order-table {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .cart-order-table {
    font-size: 1.25rem;
  }
}

.cart-order-header > th {
  z-index: 98;
  position: sticky;
  top: 0;
  padding: 8px 0;
  border-bottom: 2px solid black;
  vertical-align: middle; /* vertically center in table */
  font-weight: bold;
  background-color: white;
}
.cart-order-header > th:first-child  {
  text-align: left;
}
.cart-order-header > th:nth-child(3)  {
  text-align: right;
}
.cart-order-header > th:nth-child(2) {
  width: 10%;
}
.cart-order-header > th:nth-child(3) {
  width: 25%;
}

.cart-order-header > th:nth-child(2),
.cart-order-item > td:nth-child(2) {
  padding-left: 8px;
  padding-right: 8px;
}

.cart-order-header > th:nth-child(3),
.cart-order-item > td:nth-child(3) {
  padding-right: 8px;
}

.cart-order-item > td {
  padding-top: 8px;
  padding-bottom: 4px;
}
.cart-order-item > td:nth-child(2) {
  text-align: center;
  position: relative;
}
.cart-order-item > td:nth-child(3) {
  text-align: right;
}
.cart-order-item > td:last-child {
  padding: 0;
}

.cart-order:hover {
  /* background-color: #EEEEEE; */
}

.quantity-control {
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: none;
}
.cart-order:hover .quantity-control {
  display: inline-block;
}

.quantity-control:first-child {
  left: 0;
}
.quantity-control:first-child:hover {
  color: orange;
  cursor: pointer;
}
.quantity-control:last-child {
  right: 0;
}
.quantity-control:last-child:hover {
  color: var(--green-color);
  cursor: pointer;
}

.btn-order-delete {
  background-color: transparent;
  color: black;
  min-width: auto;
  padding: 4px;
  border-radius: 0;
}
.btn-order-delete:hover {
  color: red;
  cursor: pointer;
}


.cart-order-remark > td {
  font-size: 0.9em;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  color: grey;
}

.cart-order-remark:last-child > td {
  border-bottom: 2px solid black;
}

.cart-order-footer > td {
  padding-top: 8px;
}

.cart-order-footer:first-child > td {
  padding-top: 16px;
}

.cart-order-footer > td:last-child {
  text-align: right;
}

.cart-order-footer:first-child > td {
  font-weight: bold;
  font-size: 1.15em;
}

.cart-order-footer:last-child > td {
  font-weight: bold;
  font-size: 1.5em;
}

.cart-promo {
  display: flex;
  margin-top: 16px;
}

.cart-checkout-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* ---------------------- END foodxpress.Order Page ---------------------- */
/* ---------------------- START foodxpress.Order List Page --------------- */
.box-order-main {
  padding: 48px 16px 0 16px;
  background-color: rgba(255,255,255, 1);
  min-height: calc(100vh - 105px - 544px);
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .box-order-main {
    min-height: calc(100vh - 64px - 246px);
  }
}
.orderlist-box  {
  margin: 10px;
  padding:30px 20px;
  max-width: 800px;
  min-height: 100px;
  background-color: white;
  border: solid 3px black;
}
@media screen and (min-width: 320px) {
  .orderlist-box {
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .orderlist-box {
    margin: 96px auto;
  }
}

.order-list-title{
  padding: 8px;
  border-radius: 8px;
}
.orderlist-box-detail {
  margin: auto;
  padding:5px;
  font-size: 1.2rem;
}

.orderlist-box-text{
  margin:10px;
}
.orderlist-box-title{
  width:110px;
  padding:5px;
}

.order-status-chart{
    height:100px;
    width:100px;
    margin:10px 20px;
    float:right;

}
@media screen and (min-width: 320px) {
  .order-status-chart {
    float: none;
    margin:10px auto;
  }
}

@media screen and (min-width:514px) {
  .order-status-chart {
    float:right;
    margin:0px 30px 5px 5px;
  }
}

@media screen and (min-width:320px) {
  .orderlist-box-info {
    padding:5px;
  }
}

/*Cicrle pie*/
.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}
.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p75 .fill,
.c100.p100 .fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.pie-fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #cccccc;
}
.c100 *,
.c100 *:before,
.c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.c100.center {
  float: none;
  margin: 0 auto;
}

.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 6.5em;
  line-height: 6.5em;
  font-size: 0.15em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #f5f5f5;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p25 .bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.c100.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100.p75 .bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.c100:hover {
  cursor: default;
}

.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}

.c100.green .bar,
.c100.green .fill {
  border-color: #4db53c;
}
.c100.green:hover > span {
  color: #4db53c;
}

.c100.green:hover > span {
  color: black;
}


/* ---------------------- END foodxpress.Order List Page --------------- */

/* ----------------------- Status Page ------------------------- */
.invoice-main {
  margin: 0 auto;
  max-width: 1080px;
}

@media screen and (min-width: 1080px) {
  .invoice-main {
    margin: 64px auto;
  }
}

@media screen and (min-width: 480px){
  .invoice-header .form-group {
    display: flex;
    align-items: center;
  }
  .invoice-header .label {
    min-width: 160px;
  }
  .invoice-header .form-control {
    margin: 0;
  }
}
.invoice-order-table {
  width: 100%;
}

.invoice-status {
  display: flex;
}

.order-status {
  position: relative;
  display: inline-block;
  width: 100%;
  color: white;
}

.order-status + .order-status {
  margin-left: 16px;
}

.order-status-content {
  position: absolute;
  top: 0;
  /*margin: 16.5px 0;*/
  margin: 16px 0;
  text-align: center;
  width: 100%;
}

.order-status-text {
  display: none;
}

@media screen and (min-width: 640px) {
  .invoice-main .order-status-text {
    display: inline;
  }
}

.parallelogram, .parallelogram2 {
  /* width: 50px; */
	height: 25px;
	background-color: var(--green-color);
}
.parallelogram {
  transform: skew(40deg);
}
.parallelogram2 {
	transform: skew(-40deg);
}
.parallelogram-inactive {
  background-color: #cccccc;
}
/* ------------------------- END Status Page -------------------------------- */

/* ------------------------- Review Page -------------------------------- */
.review-star {
  margin-top: 8px;
  font-size: 1.4rem;
  width: 100%;
  float: right;
  display: inline-block;
}

@media screen and (min-width: 521px) {
  .review-star {
    width: auto;
    margin-top: 0;
  }
}

@keyframes a {
    0% {
        transform: scale(1)
    }
    99% {
        transform: scale(4);
        opacity: 0
    }
    to {
        transform: scale(1);
        opacity: 0
    }
}

.starability-grow {
    display: block;
    position: relative;
    width: 150px;
    min-height: 30px;
    padding: 0;
    border: none
}

.starability-grow>input[id] {
    position: absolute;
    margin-right: -100%;
    opacity: 0
}

.starability-grow>input[id]:checked~label,
.starability-grow>input[id]:focus~label,
.starability-grow>input[id]:hover~label {
    background-position: 0 -30px
}

.starability-grow>input:focus+label {
    outline: 1px dotted #999
}

.starability-grow>label {
    position: relative;
    display: inline-block;
    float: right;
    width: 30px;
    height: 30px;
    color: transparent;
    cursor: pointer;
    background-image: url(../images/star-icon.png);
    background-repeat: no-repeat
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi),screen and (-webkit-min-device-pixel-ratio:2) {
    .starability-grow>label {
        background-image:url(../images/star-icon@2x.png);
        background-size: 30px auto
    }
}

.starability-grow>label:before {
    display: none;
    position: absolute;
    content: ' ';
    width: 30px;
    height: 30px;
    background-image: url(../images/star-icon.png);
    background-repeat: no-repeat;
    bottom: 0
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi),screen and (-webkit-min-device-pixel-ratio:2) {
    .starability-grow>label:before {
        background-image:url(../images/star-icon@2x.png);
        background-size: 30px auto
    }
}

.starability-grow>input[id]:checked+label:before {
    display: block;
    animation-duration: 1s;
    animation-name: a;
    animation-fill-mode: forwards
}


.review-text {
  margin-top: 8px;
  width: 100%;
  min-height: 64px;
  resize: none;
  box-sizing: border-box;
  border: none;
  /* border: 1px solid black; */
}

.review-main {
  margin: 0 auto;
  max-width: 1080px;
}

.review-main .box {
  cursor: auto;
  border-radius: 16px;
  box-shadow: var(--card-shadow);
  background-color: moccasin;
}

.review-main .box + .box {
  margin-top: 16px;
}

@media screen and (min-width: 584px) {
  .review-main .box-picture {
    width: 128px;
    height: 128px;
    margin-right: 8px;
  }
  .review-main .box-content {
    display: flex;
    flex-direction: column;
  }
  .review-main .box-detail {
    min-height: auto;
    margin-left: 0;
  }
  .review-main .box {
    min-height: 128px;
  }
  .review-main .box-title {
    font-size: 1.5rem;
  }
  .review-main .box-info {
    font-size: 1.1rem;
  }
  .review-main .box-description {
    font-size: 1rem;
  }
}

.select-option {
  width: 64px;
  height: 27px;
  margin-top: 12px;
  padding-left: 10px;
  background-color: #F1F1F1;
}
/* ---------------------------- END Review Page -------------------------- */
/* ---------------------------Pop-up box ----------------------------------*/

.pop-up {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.pop-up-close-btn {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  padding: 4px;
}

.pop-up-close-btn:hover,
.pop-up-close-btn:focus {
  color: black;
  cursor: pointer;
}

.pop-up-card {
  /*height: 350px;*/
  margin-top: 0;
  cursor: default;
}

.pop-up-card:hover {
  transform: none;
  box-shadow: var(--card-shadow);
}

@media screen and (min-width: 450px){
  .pop-up-card {
    width: 425px;
    /*height: 350px;
    display: flex;
    justify-content: center;*/
  }
}

@media screen and (min-width: 820px){
  .pop-up-card {
    width: 532px;
  }
}

@media screen and (min-width: 1240px){
  .pop-up-card {
    width: 632px;
  }
}

.review-text-area {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.quantity-btn {
  font-size: 0.5rem;
  padding: 0;
}

.quantity-input {
  max-width: 48px;
}

/*----------------------------------END Pop-up box ------------------------------- */
/* ------------------------------------ Vendor Home ------------------------------------ */
@media screen and (min-width: 548px) {
  /* 320px + 52px + 176px */
  .vendor-order-main {
    margin-left: var(--sidebar-width);
  }
}

@media screen and (min-width: 768px) {
  .vendor-order-main .order-status-text {
    display: inline;
  }
}

.hover-hidden-child {
  display: none;
}

.hover-hidden-parent:hover .hover-hidden-child {
  display: initial;
}

.profile-picture-sm {
  height: 64px;
  width: 64px;
}

@media screen and (min-width: 546px) {
  .vendor-order-main {
    min-height: calc(100vh - 105px - 396px);
  }
}
@media screen and (min-width: 640px) {
  .vendor-order-main {
    min-height: calc(100vh - 64px - 396px);
  }
}
@media screen and (min-width: 1054px) {
  .vendor-order-main {
    min-height: calc(100vh - 64px - 246px);
  }
}

.vendor-order-center-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vendor-order-section {
  width: 100%;
}

.sidebar-item-selected {
  background-color: tomato;
}
/* -------------------------------------- END Vendor home ---------------------- */